<div class="col-md-3">
  <!--First Column: will hold name of the application or cloud -->
  <h4>Application Name</h4>
</div>
<div class="col-md-6">
  <!--Second Column: will hold high level information about the application -->
  <div class="input-group">
    <span class="input-group-addon">Last Recovery Test: </span>
    <input type="text" class="form-control" placeholder="Last Recovery Test">
  </div>

  <div class="input-group">
    <span class="input-group-addon">Number of servers: </span>
    <input type="text" class="form-control">
  </div>

  <div class="input-group">
    <span class="input-group-addon">Backup Size</span>
    <input type="text" class="form-control">
    <span class="input-group-addon">GB</span>
  </div>
</div>
<div class="col-md-3">
  <!--Third Column will hold the buttons -->
  <div class="btn-group-vertical btn-group-sm" role="group" aria-label="...">
    <button type="button" class="btn btn-primary">Clone</button>
    <button type="button" class="btn btn-default">Recreate in Cloud</button>
    <button type="button" class="btn btn-default">Scale and Recreate</button>
    <button type="button" class="btn btn-default">DR Drill</button>
  </div>
</div>
