<!-- <div>
  <div ui-view="app-navbar"></div>
  <h3>accordion</h3>
  <div ui-view="app-accordion"></div>
</div> -->

<div class="container-fluid">
  <!-- first row is a navigation bar, this forces the navigation bar to take
    the entire width of the screen -->
  <div class="row">
    <div class="col-md-12">
      <div ui-view="app-navbar"></div>
    </div>
  </div>

  <!--
        second row comprises an accordion on the left and a 'main' panel on the right 
    -->
  <div class="row">
    <section class="app-main">
      <div class="col-md-3">
        <div ui-view="app-accordion"></div>
      </div>

      <div class="col-md-9">
        <div ui-view="app-right"></div>
      </div>

    </section>
  </div>
</div>